<section class="bg-white p-5">
  <div class="my-5 pr-2">
    <%= render 'shared/search-form' %>
  </div>
  <div class="header">
    <h1>Vrrrrrumm... discover and drive the most beautiful cars ever made</h1>
  </div>
  <div class="cards mt-4">
    <% @latest_cars.each do |car| %>
      <%= render car %>
    <% end %>
  </div>
</section>

<section class="bg-black p-5">
  <div class="d-flex p-2 flex-row justify-content-between">
    <div style="width: 50%">
      <h2>Drive the car of your dreams</h2>
      <p class="font-weight-light">Now you can feel the thril of driving a supercar, cruise in a classic vintage, or simply have fun in a cheap car from any era.</p>
    </div>
    <div>
      <%= link_to 'Explore more', cars_path, class: 'btn btn-clear' %>
    </div>
  </div>
  <div class="grid-cars">
    <div class="grid-featured">
      <%= render @featured_cars.first, featured: true, dark: true %>
    </div>
    <div class="grid-top-1">
      <%= render @featured_cars.second, dark: true, square: true %>
    </div>
    <div class="grid-top-2">
      <%= render @featured_cars.third, dark: true, square: true %>
    </div>
    <div class="grid-bottom">
      <%= render @featured_cars.fourth, dark: true, wide: true %>
    </div>
  </div>
</section>

