<section class="bg-white p-5">
  <div class="mb-5"></div>
  <div class="header">
    <h1>Vrrrrrumm... discover and drive the most beautiful cars ever made</h1>
  </div>
  <div class="cards mt-4">
    <% 3.times do %>
      <div class="card-car">
        <img src="http://www.car-revs-daily.com/wp-content/uploads/1971-Lamborghini-Miura-P400-SV-1.jpg" />
        <span class="card-car-favorite">
            <%= icon('fa', 'heart', class: 'fa-lg text-primary') %>
        </span>
        <div class="card-car-infos">
          <div>
            <h2>Title here</h2>
            <p>Short description here!</p>
          </div>
          <h2 class="card-car-pricing">€99.99/day</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-car-user avatar-bordered" />
        </div>
        <%= link_to '', '#', class: 'card-car-link' %>
      </div>
    <% end %>
  </div>
</section>

<section class="bg-black p-5">
  <div class="d-flex p-2 flex-row justify-content-between">
    <div style="width: 50%">
      <h2>Drive the car of your dreams</h2>
      <p class="font-weight-light">Now you can feel the thril of driving a supercar, cruise in a classic vintage, or simply have fun in a cheap car from any era.</p>
    </div>
    <div>
      <%= link_to 'Explore more', cars_path, class: 'btn btn-clear' %>
    </div>
  </div>
  <div class="grid-cars">
    <div class="grid-featured">
      <%= render @car, featured: true, dark: true %>
    </div>
    <div class="grid-top-1">
      <%= render @car2, dark: true %>
    </div>
    <div class="grid-top-2">
      <%= render @car3, dark: true %>
    </div>
    <div class="grid-bottom">
      <%= render @car4, dark: true %>
    </div>
  </div>
</section>

