<% featured = defined?(featured) ? local_assigns[:featured] : false %>
<% square = defined?(square) ? local_assigns[:square] : false %>
<% wide = defined?(wide) ? local_assigns[:wide] : false %>
<% dark = defined?(dark) ? local_assigns[:dark] : false %>
<% height = featured ? 500 : 200 %>

<div class="card-car<%= ' card-car--dark' if dark  %><%= ' card-car--featured' if featured %>">
  <%= cl_image_tag car.photo.key, height: height %>
  <span class="card-car-favorite">
      <%= render 'cars/favorite', car: car %>
  </span>
  <div class="card-car-infos">
    <div>
      <h2><%= car.name %></h2>
      <% if featured %>
        <p><%= car.description %></p>
      <% elsif square %>
       <p><%= truncate car.description, length: 20 %></p>
      <% elsif wide %>
       <p><%= truncate car.description, length: 60 %></p>
      <% else %>
        <p><%= truncate car.description, length: 35 %></p>
      <% end %>
    </div>
    <h2 class="card-car-pricing">€<%= number_with_delimiter(car.price_per_day) %>/day</h2>
    <% if car.owner.avatar.attached? %>
      <%= cl_image_tag car.owner.avatar.key, 
                       class: 'card-car-user avatar-bordered',
                       width: 40, height: 40,
                       crop: :thumb, gravity: :face
      %>
    <% else %>
      <%= image_tag "default.jpg",
                    class: 'card-car-user avatar-bordered'
      %>
    <% end %>
  </div>
  <%= link_to '', car_path(car), class: 'card-car-link' %>
</div>